/* css populer */
.main-pop{
  background: rgba(224, 246, 255, 0.63);
  border-radius: 5px;
}
.cards-type {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  border-top: 100px;
}

img {
  width: 100%;
}

.card__image {
  flex-grow: 1;
  flex-basis: 30%;
  margin: 10px;
  min-width: 175px;
}

.card__info {
  flex-basis: calc(70% - 40px);
  flex-grow: 1;
  margin: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px
}

p {
  margin: 5px 0 0 0;
}
.flex-nya{
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.title-nya{
  height: 100% !important;
}
.read-more-nya{
  text-align: right;
  font-style: italic;
}