.containernya-profil{
  background: #74a7ff09;
}
/* css penjelasan logo */
:root {
  --primarycolor: #2364d2;
}

.wrapper {
  min-height: 100%;
  display: flex;
  padding: 50px 15px;
}

@media screen and (max-width: 700px),
(max-height: 500px) {
  .wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.card-form {
  max-width: 570px;
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .card-form {
    margin: 0 auto;
  }
}

.card-form__inner {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 10px;
  padding: 35px;
  padding-top: 180px;
  border-bottom: 5px solid blue;
}

@media screen and (max-width: 480px) {
  .card-form__inner {
    padding: 25px;
    padding-top: 165px;
  }
}

@media screen and (max-width: 360px) {
  .card-form__inner {
    padding: 15px;
    padding-top: 165px;
  }
}

.card-form__group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card-form__group .card-input__input {
  flex: 1;
  margin-right: 15px;
}

.card-form__group .card-input__input:last-child {
  margin-right: 0;
}
.p-didik-profile{
  text-align: center;
}

.card-item {
  max-width: 430px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .card-item {
    max-width: 310px;
    height: 220px;
    width: 90%;
  }
}

@media screen and (max-width: 360px) {
  .card-item {
    height: 180px;
  }
}

.card-item.-active .card-item__side.-front {
  transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
}

.card-item.-active .card-item__side.-back {
  transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
}

.card-item__side {
  border-radius: 15px;
  overflow: hidden;
  transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
  transform-style: preserve-3d;
  transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  backface-visibility: hidden;
  height: 100%;
  display: flex;
}

.card-item__side.-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
  z-index: 2;
  padding: 0;
  height: 100%;
}

.card-item__side.-back .card-item__cover {
  transform: rotateY(-180deg);
}

.card-item__bg {
  max-width: 100%;
  display: block;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-item__cover {
  height: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
}

.card-item__cover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card-list {
  margin-bottom: -130px;
}

@media screen and (max-width: 480px) {
  .card-list {
    margin-bottom: -120px;
  }
}

/* style pimpinan */

.outside {
  margin: 20px 0px 30px 0px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  background-color: #5ab5ff2a;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-top: 200px; */
}

.card-wrapper-profile {
  /*   width:70%;
  height: 60%; */

  padding: 3rem;
  max-width: 98rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .8rem;
  border-top: 5px solid blue;

}

.card-img-profile {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  position: relative;
  transform: translateX(-6rem);

}

.card-img-profile img {
  width: 100%;
  height: 100%;
    object-fit:cover;
  display: block;
  border-radius: .8rem;
}

.card-img-profile::before {
  content: "";
  width: 100;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
  border-radius: .8rem;
}


.card-description {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 1068px) {
  .card-wrapper-profile {
    max-width: 80rem;
  }

  .card-img-profile {
    max-width: 30rem;
    min-width: 30rem;
  }
}

@media screen and (max-width: 868px) {
  .card-wrapper-profile {
    max-width: 70rem;
  }
}

@media screen and (max-width: 768px) {
  .card-wrapper-profile {
    padding: 2.5rem;
    flex-direction: column;

  }

  .card-img-profile {
    max-width: 100%;
    min-width: 100%;
    transform: translate(0, -6rem)
  }
}

/* css untuk card */
 .course-container {
   animation-name: example;
   animation-duration: 4s;
 }

 .course {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
   display: flex;
   max-width: 100%;
   overflow: hidden;
   width: 90%;
   margin: 10% auto;
   border-top: 5px solid blue;
 }

 .course h6 {
   opacity: 0.6;
   margin: 0;
   letter-spacing: 1px;
   text-transform: uppercase;
 }

 .course h2 {
   letter-spacing: 1px;
   margin: 10px 0;
 }

 .course-preview {
   color: #fff;
   padding: 30px;
   max-width: 250px;
 }

 .course-preview a {
   color: #fff;
   display: inline-block;
   font-size: 12px;
   opacity: 0.6;
   margin-top: 30px;
   text-decoration: none;
 }

 .course-info {
   padding: 30px;
   position: relative;
 }

 .progress-container {
   position: absolute;
   top: 30px;
   right: 30px;
   text-align: right;
   width: 150px;
 }

 .progress {
   background-color: #ddd;
   border-radius: 3px;
   height: 5px;
   width: 100%;
 }

 .progress::after {
   border-radius: 3px;
   background-color: #2A265F;
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 5px;
   width: 66%;
 }

 .progress-text {
   font-size: 10px;
   opacity: 0.6;
   letter-spacing: 1px;
 }

 .btn {
   background-color: #2A265F;
   border: 0;
   border-radius: 50px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
   color: #fff;
   font-size: 16px;
   padding: 12px 25px;
   position: absolute;
   bottom: 30px;
   right: 30px;
   letter-spacing: 1px;
 }

 @media screen and (max-width: 601px) {
   .course {
     width: 100%;
     display: block;
     margin-bottom: 20px;
   }
   .course-preview{
      color: #fff;
      padding: 30px;
      max-width: 250px;
      margin: auto;
   }
 }

 @media (max-width: 601px) {
   .ride {
     width: 100%;
     text-align: center;
   }
 }
 @media screen and (max-width: 601px) {
   .course h2 {
     letter-spacing: 1px;
     margin: 10px 0;
     text-align: center;
   }
 }

 /* css untuk google maps */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Paytone+One&display=swap');
 .main-maps-disdik{
   /* background-color: rgba(126, 146, 255, 0.26); */
   border-radius: 10px;
  align-items:center;
 }
  .main-maps-disdik h1{
    text-align: center;
    font-family: 'Paytone One',
    sans-serif;
  }
  .main-maps-disdik h5 {
    text-align: center;
  }
 .maps-profile-disdik{
    height: 400px;
    width: 100%;
 }
 .fa-location-dot{
   width: 10px;
 }
 .SiGooglemaps{
    margin: 0 auto;
 }

 /* css social media */
 .pembungkus-social-media{
    background-color: #5ab5ff2a;
    padding-bottom: 10px;
    margin-bottom: 30px;
 }
 .judul-social{
   text-align: center;
    font-family: 'Paytone One',
    sans-serif;
 }
.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}

.social-icon:hover {
  color: #fff !important;
}

.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}

.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social-icon--youtube {
  background: #c4302b;
  color: #fff !important;
}

.social-icon--youtube .tooltip {
  background: #c4302b;
  color: currentColor;
}

.social-icon--youtube .tooltip:after {
  border-top-color: #c4302b;
}

.social-icon--twitter {
  background: #2b97f1;
  color: #fff !important;
}

.social-icon--twitter .tooltip {
  background: #2b97f1;
  color: currentColor;
}

.social-icon--twitter .tooltip:after {
  border-top-color: #2b97f1;
}


.social-icon--facebook {
  background: #3b5a9b;
  color: #fff !important;
}

.social-icon--facebook .tooltip {
  background: #3b5a9b;
  color: currentColor;
}

.social-icon--facebook .tooltip:after {
  border-top-color: #3b5a9b;
}

.social-icon--instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #fff !important;
}

.social-icon--instagram .tooltip {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: currentColor;
}

.social-icon--instagram .tooltip:after {
  border-top-color: #ffa59d;
}




.social-icon i {
  position: relative;
  top: 1px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}

.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}