

.utama-kepala {
  margin-top: 20px !important;
  height: 100% !important;
  /* padding-top: 100px; */
  background: rgba(214, 241, 245, 0.205);
  display:flex;
  justify-content: flex-end;
  padding-top: 40px;
}

.foto-kepala {
  /* max-width: 500px; */
  max-height: 500px;
  border-radius: 10px;
  object-fit: cover;
  /* float: right; */
  
  transition: transform .2s;
}
.foto-kepala:hover{
  transform: scale(1.1)
}

.nama-kpla {
  padding-top: 35px;
}

.bagian_nama {
  font-size: 16px;
  margin-bottom: 15px;
}

.kepala-dinas {
  font-size: 18px;
  margin-bottom: 15px;
}
.rest{
  padding-left: 10px;
  padding-right: 100px !important;
}
