.card-title {
  height: 40px !important;
}
.card-text{
 text-align: justify;
}
.text-kepala{
  color: blue;
  font-style: italic; 
}
.img-kepala{
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
}
.utama{
  margin-top: 20px;
  border-top: 1px solid rgb(202, 202, 202);
  border-bottom: 1px solid rgb(202, 202, 202);
}
.Row-nya {
  margin-top: 10px !important;
  height: 500px !important;
  padding-top: 100px;
  background: rgba(214, 241, 245, 0.205);
}