.card-title {
  height: 40px !important;
}
.card-text{
 text-align: justify;
}
.text-kepala{
  color: blue;
  font-style: italic; 
}
.img-kepala{
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
}