.card-style{
 display: flex;
}
.size-image{
    height: 183px !important;
    object-fit: cover;
}
/* .berita-terbaru{
    height: 100% !important;
} */
.card-title{
    height: 96px !important;
}
.card-body{
    height: 308.83px !important;
}
.card-text{
    height: 115.23px !important;
}

.list-item-mui{
    /* border: 1px solid rgb(202, 202, 202); */
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(126, 125, 125, 0.068);
}
.style {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    column-gap: 24px;
    row-gap: 24px;
    max-width: 948px;

}

@media all and (min-width: 768px) and (max-width: 991px) {
    .style {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: 24px;
        row-gap: 24px;
        max-width: 948px;
    }
}
/* Css untuk tampilan wide mobile */
@media all and (min-width: 480px) and (max-width: 767px) {
    body {
        width: 480px;
    }
}

@media all and (max-width: 1833px) {
    .layout-1833 {
        flex: 0 0 auto;
        width: 100% !important;
    }
}

html, body {
    width: 100%;
}

.carousel .carousel-control-next-icon {
    background-image: none !important;
}

.carousel-control-prev-icon {
    background-image: none !important;
}
.card-date{
    margin-top: 20px;
    color: rgb(70, 70, 70);
    padding-top: 20px;
}

.style-btn{
    border-bottom: 1px solid rgb(202, 202, 202);
    margin-bottom: 10px;
}
.style-btn a p{
    float: right;
    justify-content: right;
}
.hot-news{
    margin-bottom: 10px !important}