.style-secondline{
  margin-top: 15px;
}
.style-pimpinan {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card-body{
  height: 100% !important;
  
}
.card-text{
  height: auto !important;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / 3;
}

.style-gambar {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  grid-row: 1 / 3;
  grid-column: 1;
}

figcaption {
  padding: 1rem;
  grid-column: 1;
  grid-row: 2;
  background: hsl(0 0% 0% / 0.6);
  color: white;
}

.grid {
  display: grid;
  max-width: 80rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  grid-template-rows: 1fr auto;
  gap: 1.5rem;
}
.style-button {
  border-radius: 5px !important;
  width: 300px;
}
.style-btn {
  margin: auto;
}