.text_grey {
  color: grey !IMportant;
}

.media-body a {
  color: #0072c5;
}

.text_blue {
  color: #0072c5;
}

.badge-primary {
  background-color: #a9d040;
}

.badge {
  display: inline-block;
  padding: 4px 10px;
  text-shadow: 1px 1px 1px grey;
}

.offerList .media {
  border-bottom: 1px solid #ececec;
  margin-bottom: 10px;
}
.image-dok{
  max-width: 100px;
  max-height: 100px;
}