.logo{
  margin-bottom: 5px;
  border-top: 5px solid #0077FF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin-top: 1pt !important;

}
.style-image{
  width: 30%;
}
.style-marque{
  padding-top: 20px ;
}